on: [push,pull_request]
name: TOC Generator
jobs:
  generateTOC:
    name: TOC Generator
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/toc-generator@v2
        with:
          TARGET_PATHS: '**/Readme*.md,**/readme*.md,**/README*.md'
          TOC_TITLE: 目次

  
